@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #010101;
    color: #b30d0d;
    overflow: hidden;
}

header {
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

.slider {
    height: 100vh; 
    position: relative;
    overflow: hidden;
}

.slider .list {
    height: 100%; 
    position: relative;
}

.slider .list .item {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo ảnh không bị cắt */
}

.slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 30%;
    width: 500px;
    color: black ;
    font-size: 1.5rem;
}



.thumbnail {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    z-index: 11;
}

.thumbnail .item {
    width: 100px;
    height: 100px;
    filter: brightness(0.5);
    transition: filter 0.5s;
}

.thumbnail .item.active {
    filter: brightness(1.5);
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.arrows {
    position: absolute;
    top: 50%; /* Đặt vị trí chính giữa theo chiều dọc */
    right: 20px; /* Đặt vị trí sát mép phải của màn hình */
    z-index: 20;
    transform: translateY(-50%); /* Giúp nút điều hướng căn giữa */
}

.arrows button {
    background-color: #eee5;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #eee;
    transition: 0.5s;
}

.arrows button:hover {
    background-color: #eee;
    color: black ;
}

@media screen and (max-width: 678px) {
    .slider .list .item .content h2 {
        font-size: 2rem;
    }
}
